
// Init btn styles
.btn {
    background: none;
    border: 0.25em solid $darkbg_color;
    border-radius: 1.25em 1.25em 0 1.25em;
    cursor: pointer;
    
    font-family: $primary_font;
    font-size: 0.75em;
    font-weight: 600;
    
    padding: 1em 2em;
    
    &, &:focus {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
}

// All light btns
.btn-light {
    border-color: $lightbg_color;
}

// Specifics
.btn-primary {


    &.btn-light {
        background: $lightbg_color;

        &, &:focus {
            outline: none;
            -webkit-tap-highlight-color: $lightbg_shadow;
        }
    }

    &, &:focus {
        outline: none;
        -webkit-tap-highlight-color: $darkbg_shadow;
    }
}

.btn-secondary {


    &.btn-light {
        color: $lightbg_color;
    }
}

// btn-direction -- Default will be pointed right
.btn-left {
    border-radius: 1.25em 1.25em 1.25em 0;
}