
#navigation {
    background: $darkbg_color;
    color: $lightbg_color;
    font-size: 1.8em;
    height: 2.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;

    & > .container {
        align-items: center;
        height: 100%;
        padding: 0.5em 0.2em;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 1em);
        max-width: 500px;

        & > .nav-icon {
            height: 0.75em;
            width: auto;
            flex: 1;

            &:nth-child(3){
                // flex: 1.75;
            }
        }
    }

    #new-post {
        background: $brand_color;
        border: 0.2em solid $lightbg_color;
        border-radius: 2em;
        padding: 0.35em 0;
        height: 2em;
        position: relative;
        top: -1.25em;
    }
}

#nav-overlay {
    // background: rgba(0,0,0,0.2);
    height: 100%;
    opacity: 1;
    position: fixed;
    transition: background 0.4s ease-in-out;
    width: 100%;
    z-index: 100;
    font-family: $brand_font;

    &.hidden {
        height: 0;
        width: 0;
        background: rgba(0,0,0,0);
    }

    & > .nav-menu {
        background: $lightbg_color;
        border-left: 1px solid lightgrey;
        color: $darkbg_color;
        font-size: 0.9em;
        height: 100%;
        // padding: 1em;
        position: fixed;
        right: 0%;
        transition: all 0.3s linear;
        width: 75%;
        z-index: 101;

        &.hidden {
            right: -100%;
            box-shadow: 1em 1em 0 rgba(0,0,0,0);
        }

        & > .container {
            display: grid;
            height: 100%;
            width: 100%;
            grid-template-rows: 60px 8fr;

            & > .head {
                border-bottom: 1px solid lightgrey;
                display: grid;
                grid-template-columns: 8fr 2fr;
                align-items: center;
                padding: 0em 1em;
                

                & > h1 {
                    font-size: 1em;
                }

                & > #nav-profile-img {
                    border-radius: 50%;
                    height: 1.8em;
                    margin: 0 auto;
                }
            }

            & > .body {
                font-family: $primary_font;
                font-size: 0.8em;

                & > .option-list {
                    font-weight: 600;
                    list-style: none;
                    border-bottom: 1px solid lightgray;
                    padding: 0.5em 1em;
                    margin-top: 0;

                    & > li {
                        cursor: pointer;
                        padding: 0.75em 0;
                        margin: 0.75em 0;

                        & > i {
                            padding-right: 1em;
                        }
                    }
                }

                & > .logout {
                    color: grey;
                    cursor: pointer;
                    font-weight: 600;
                    letter-spacing: -0.02em;
                    padding: 0 1em;
                    margin-top: 2em;

                    & > i {
                        padding-right: 1em;
                    }
                }
            }
        }
    }
}