
@import "./variables/variables.scss";
@import "./components/components.scss";

body {
    background: $darkbg_color;
    min-height: 100vh;
}

@-ms-viewport{
    width: device-width;
}

.App, #root {
    min-height: 100vh;
}



.logo {
    width: 3em;
    height: auto;
    padding: 0.5em;
    border-radius: 1.5em; 
}

.logo-light {
    background-color: $brand_color;
}