
$darkbg_color: #1B2339;
$darkbg_shadow: #1b23392c;
$darkishbg_color: #29324b;

$lightbg_color: #F7F9FF;
$lightbg_shadow: #f7f9ff18;
$lightishbg_color: #ced2df;

$brand_color: #1A0ADF;
$darkbrand_color: #221796;