@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900&display=swap");
.btn {
  background: none;
  border: 0.25em solid #1B2339;
  border-radius: 1.25em 1.25em 0 1.25em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  padding: 1em 2em;
}
.btn, .btn:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-light {
  border-color: #F7F9FF;
}

.btn-primary.btn-light {
  background: #F7F9FF;
}
.btn-primary.btn-light, .btn-primary.btn-light:focus {
  outline: none;
  -webkit-tap-highlight-color: #f7f9ff18;
}
.btn-primary, .btn-primary:focus {
  outline: none;
  -webkit-tap-highlight-color: #1b23392c;
}

.btn-secondary.btn-light {
  color: #F7F9FF;
}

.btn-left {
  border-radius: 1.25em 1.25em 1.25em 0;
}

#navigation {
  background: #1B2339;
  color: #F7F9FF;
  font-size: 1.8em;
  height: 2.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
#navigation.has-active > .container > a {
  flex: 0.5;
}
#navigation.has-active > .container > a > .nav-icon {
  display: none;
}
#navigation > .container {
  align-items: center;
  height: 100%;
  padding: 0.5em 0.2em;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1em);
  max-width: 500px;
}
#navigation > .container > a {
  flex: 1;
  text-align: center;
}
#navigation > .container > a.active {
  display: grid;
  grid-template-columns: 3.75fr 6.25fr;
  align-items: center;
  background: #f7f9ff18;
  border-radius: 2em;
  flex: 3;
  height: 100%;
}
#navigation > .container > a.active > p {
  display: block;
}
#navigation > .container > a.active > .nav-icon {
  text-align: center;
  margin: 0 auto;
}
#navigation > .container > a > p {
  font-size: 0.35em;
  text-align: center;
  margin-left: -2.5em;
  font-weight: 600;
  display: none;
}
#navigation > .container > a > .nav-icon {
  height: 0.75em;
  width: auto;
}
#navigation #new-post {
  background: #1A0ADF;
  border: 0.2em solid #F7F9FF;
  border-radius: 2em;
  padding: 0.35em 0;
  height: 2em;
  position: relative;
  top: -1.25em;
}

#nav-overlay {
  height: 100%;
  opacity: 1;
  position: fixed;
  transition: background 0.4s ease-in-out;
  width: 100%;
  z-index: 100;
  font-family: "Montserrat", sans-serif;
}
#nav-overlay.hidden {
  height: 0;
  width: 0;
  background: rgba(0, 0, 0, 0);
}
#nav-overlay > .nav-menu {
  background: #1B2339;
  border-left: 1px solid #323b53;
  color: #F7F9FF;
  font-size: 0.9em;
  height: 100%;
  position: fixed;
  right: 0%;
  transition: all 0.3s linear;
  width: 75%;
  z-index: 101;
}
#nav-overlay > .nav-menu.hidden {
  right: -100%;
  box-shadow: 1em 1em 0 rgba(0, 0, 0, 0);
}
#nav-overlay > .nav-menu > .container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 60px 8fr;
}
#nav-overlay > .nav-menu > .container > .head {
  border-bottom: 1px solid #323b53;
  display: grid;
  grid-template-columns: 8fr 2fr;
  align-items: center;
  padding: 0em 1em;
}
#nav-overlay > .nav-menu > .container > .head > h1 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: -0.03em;
}
#nav-overlay > .nav-menu > .container > .head > #nav-profile-img {
  border-radius: 50%;
  height: 1.8em;
  margin: 0 auto;
}
#nav-overlay > .nav-menu > .container > .body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
}
#nav-overlay > .nav-menu > .container > .body > .option-list {
  font-weight: 600;
  list-style: none;
  border-bottom: 1px solid #323b53;
  padding: 0.5em 1em;
  margin-top: 0;
}
#nav-overlay > .nav-menu > .container > .body > .option-list > li {
  cursor: pointer;
  padding: 0.75em 0;
  margin: 0.75em 0;
}
#nav-overlay > .nav-menu > .container > .body > .option-list > li > a > i {
  padding-right: 1em;
}
#nav-overlay > .nav-menu > .container > .body > .logout {
  color: #8b94af;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: -0.02em;
  padding: 0 1em;
  margin-top: 2em;
}
#nav-overlay > .nav-menu > .container > .body > .logout > i {
  padding-right: 1em;
}

.screen {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #F7F9FF;
}

.AuthScreen, .signup-screen {
  background: #1B2339;
  color: #F7F9FF;
  display: grid;
  font-family: "Montserrat", sans-serif;
  grid-template-rows: 2fr 6fr 2fr;
  min-height: 100vh;
  overflow: hidden;
  padding: 1em 2em;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.AuthScreen > #gradient-bg, .signup-screen > #gradient-bg {
  position: absolute;
  width: calc(100%+1em);
  left: -0.5em;
  top: -2em;
  z-index: -1;
}
.AuthScreen > .header, .signup-screen > .header {
  display: flex;
}
.AuthScreen > .header > .logo-container, .signup-screen > .header > .logo-container {
  display: flex;
  font-size: 0.7em;
  margin-top: 1.5em;
}
.AuthScreen > .header > .logo-container > .logo, .signup-screen > .header > .logo-container > .logo {
  height: 1.5em;
  width: 1.5em;
}
.AuthScreen > .header > .logo-container > p, .signup-screen > .header > .logo-container > p {
  margin: 0.1em 0.5em;
  letter-spacing: -0.05em;
}
.AuthScreen > .body, .signup-screen > .body {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-bottom: 1.5em;
  position: relative;
}
.AuthScreen > .body > .intro, .signup-screen > .body > .intro {
  margin: 2em 0;
  line-height: 2em;
}
.AuthScreen > .body > .intro > h1, .signup-screen > .body > .intro > h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 600;
  letter-spacing: -0.03em;
}
.AuthScreen > .body > .intro > p, .signup-screen > .body > .intro > p {
  margin: 0;
  font-size: 0.85em;
  font-weight: 300;
  letter-spacing: -0.03em;
}
.AuthScreen > .body > .signup-form, .AuthScreen > .body > .login-form, .signup-screen > .body > .signup-form, .signup-screen > .body > .login-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: all 0.3s ease-in;
  height: unset;
  max-height: 100%;
  position: absolute;
  bottom: 1em;
}
.AuthScreen > .body > .signup-form.hidden, .AuthScreen > .body > .login-form.hidden, .signup-screen > .body > .signup-form.hidden, .signup-screen > .body > .login-form.hidden {
  height: 0;
  opacity: 0;
  transition: unset;
}
.AuthScreen > .body > .signup-form > .input-item, .AuthScreen > .body > .login-form > .input-item, .signup-screen > .body > .signup-form > .input-item, .signup-screen > .body > .login-form > .input-item {
  display: grid;
  margin-bottom: 1em;
}
.AuthScreen > .body > .signup-form > .input-item > label, .AuthScreen > .body > .login-form > .input-item > label, .signup-screen > .body > .signup-form > .input-item > label, .signup-screen > .body > .login-form > .input-item > label {
  font-size: 0.6em;
  font-weight: 500;
}
.AuthScreen > .body > .signup-form > .input-item > input, .AuthScreen > .body > .login-form > .input-item > input, .signup-screen > .body > .signup-form > .input-item > input, .signup-screen > .body > .login-form > .input-item > input {
  background: none;
  border: none;
  border-bottom: 2px solid #F7F9FF;
  color: #F7F9FF;
  margin: 0;
  outline: 0;
  opacity: 0.4;
  padding: 1em;
  transition: all 0.3s ease-in-out;
}
.AuthScreen > .body > .signup-form > .input-item > input::placeholder, .AuthScreen > .body > .login-form > .input-item > input::placeholder, .signup-screen > .body > .signup-form > .input-item > input::placeholder, .signup-screen > .body > .login-form > .input-item > input::placeholder {
  color: #F7F9FF;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
}
.AuthScreen > .body > .signup-form > .input-item > input:focus, .AuthScreen > .body > .login-form > .input-item > input:focus, .signup-screen > .body > .signup-form > .input-item > input:focus, .signup-screen > .body > .login-form > .input-item > input:focus {
  opacity: 1;
}
.AuthScreen > .body > .signup-form > #login-error, .AuthScreen > .body > .signup-form > #register-error, .AuthScreen > .body > .login-form > #login-error, .AuthScreen > .body > .login-form > #register-error, .signup-screen > .body > .signup-form > #login-error, .signup-screen > .body > .signup-form > #register-error, .signup-screen > .body > .login-form > #login-error, .signup-screen > .body > .login-form > #register-error {
  background: #1A0ADF;
  border-radius: 1em;
  display: block;
  font-size: 0.8em;
  left: calc(50% - 4em);
  bottom: 6em;
  margin: 1em auto;
  opacity: 0;
  padding: 0.75em 1.25em;
  position: fixed;
  transition: all 0.4s ease-in-out;
  width: max-content;
}
.AuthScreen > .footer > .btn, .signup-screen > .footer > .btn {
  transition: all 0.5s ease-in-out;
  position: relative;
  left: 0;
  opacity: 1;
  width: 100%;
}
.AuthScreen > .footer > .btn:focus, .signup-screen > .footer > .btn:focus {
  outline: none;
}
.AuthScreen > .footer > .btn-secondary, .signup-screen > .footer > .btn-secondary {
  border: none;
  font-weight: 500;
  margin-top: 0.5em;
}
.AuthScreen > .footer > .btn-primary, .signup-screen > .footer > .btn-primary {
  background: #1B2339;
  color: #F7F9FF;
  box-shadow: 0.25em 0.25em 1em #1b23392c;
}

.signup-screen {
  background: #F7F9FF;
  color: #1B2339;
  display: grid;
  font-family: "Montserrat", sans-serif;
  grid-template-rows: 1.25fr 6.75fr 1fr;
  min-height: 100vh;
  overflow: hidden;
  padding: 1em 2em;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1001;
  left: 0;
  top: 0;
  transition: all 0.6s ease-out;
}
.signup-screen.hidden {
  top: 100%;
  transition: all 0.6s ease-in;
}
.signup-screen > .head {
  opacity: 0.4;
  text-align: center;
}
.signup-screen > .head > img {
  height: 2em;
}
.signup-screen > .head > p {
  font-size: 0.5em;
  margin: 0;
}
.signup-screen > .body {
  padding-bottom: 0;
  font-size: 0.9em;
}
.signup-screen > .body > .intro {
  margin: 0.5em 0;
}
.signup-screen > .body > .signup-form {
  bottom: 0.5em;
}
.signup-screen > .body > .signup-form > .input-item > input {
  border-bottom: 2px solid #1B2339;
}
.signup-screen > .body > .signup-form > .input-item > input, .signup-screen > .body > .signup-form > .input-item > input::placeholder {
  color: #1B2339;
}

.HomeScreen {
  text-align: center;
}
.HomeScreen > .body {
  height: 100%;
  display: flex;
  align-items: center;
}
.HomeScreen > .body > .offline-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  margin-top: -4em;
  color: grey;
}
.HomeScreen > .body > .offline-content > .icon {
  height: 6em;
  margin: 0 auto;
}
.HomeScreen > .body > .offline-content > h1 {
  font-weight: 500;
  letter-spacing: -0.02em;
  max-width: 250px;
  margin: 1em 0 0 0;
  color: #1B2339;
}
.HomeScreen > .body > .offline-content > p {
  font-size: 0.9em;
}

.AccountSettings {
  z-index: 99;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
}
.AccountSettings > .head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}
.AccountSettings > .head > i {
  padding: 1em 1.5em;
}
.AccountSettings > .head > i.submit {
  color: #0a73fd;
  transition: all 0.8s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 4em;
}
.AccountSettings > .head > i.submit::after {
  content: " Saved";
  transition: all 0.8s linear;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.5em;
  opacity: 0;
  align-self: center;
  padding-left: 1em;
  overflow: hidden;
}
.AccountSettings > .head > i.submit.active {
  max-width: 10em;
}
.AccountSettings > .head > i.submit.active::after {
  opacity: 1;
}
.AccountSettings > .head > p {
  text-align: left;
  font-size: 0.8em;
  width: 85%;
}
.AccountSettings > .body {
  padding: 1em;
  padding-bottom: 4em;
  overflow: scroll;
}
.AccountSettings > .body .settings-item {
  padding: 0.15em 1em 1.25em 1em;
  font-size: 0.8em;
  text-align: left;
  line-height: 1.6em;
  width: 100%;
}
.AccountSettings > .body .settings-item:first-child {
  line-height: 3em;
  text-align: center;
}
.AccountSettings > .body .settings-item > label[for=profileimage] {
  color: #0a73fd;
  font-weight: 500;
  font-size: 0.9em;
}
.AccountSettings > .body .settings-item > input[type=file] {
  display: none;
}
.AccountSettings > .body .settings-item > input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  padding: 0.6em 0;
  outline: none;
  transition: border 0.5s linear;
}
.AccountSettings > .body .settings-item > input:focus {
  border-bottom: 1px solid #0a73fd;
}
.AccountSettings > .body .settings-item > label {
  font-size: 0.8em;
  color: grey;
  width: 100%;
}
.AccountSettings > .body .settings-item > label::after {
  content: "\a";
  white-space: pre;
}
.AccountSettings > .body .settings-item #new-uni-guess {
  background: #fff;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 500;
  padding: 0.8em 1.6em;
  margin: -1px 0 0 0;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AccountSettings > .body .settings-item #new-uni-guess.hidden {
  font-size: 0;
  padding: 0;
  margin: 0;
  height: 0;
}
.AccountSettings > .body .profile-image {
  border-radius: 100%;
  height: 7.5em;
  width: auto;
}
.AccountSettings > .footer {
  display: flex;
  align-items: flex-end;
  padding: 1em;
}
.AccountSettings > .footer > button.save {
  width: 100%;
  padding: 1em;
  background: #1A0ADF;
  border-radius: 0.5em;
  color: #F7F9FF;
  border: none;
  font-size: 0.9em;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.SearchScreen {
  height: 100%;
}
.SearchScreen > .container {
  height: 100%;
}
.SearchScreen > .container > .body {
  height: 100%;
  overflow-y: scroll;
}

.search-result {
  background: #fff;
  border-radius: 0.4em;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  margin: 1em 0;
  font-size: 0.9em;
}
.search-result.search-state-1 {
  grid-template-columns: unset;
}
.search-result.search-state-1 > .user-info > .container {
  padding: 1.25em 1em 0 1em;
}
.search-result.search-state-1 > .user-options > .container {
  display: flex;
  justify-content: space-around;
}
.search-result.search-state-1 > .user-options > .container > a {
  font-size: 0.65em;
}
.search-result.search-state-1 > .user-options > .container > a.secondary {
  background: none;
  color: #1B2339;
  border: 2px solid #1A0ADF;
}
.search-result > .user-info > .container {
  padding: 1.5em 1em;
  padding-right: 0;
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
  grid-column-gap: 1em;
  align-items: center;
}
.search-result > .user-info > .container .profileimg {
  border-radius: 100%;
  width: 100%;
}
.search-result > .user-info > .container h1 {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  margin: 0;
  align-self: center;
  align-items: center;
}
.search-result > .user-info > .container h1 > span {
  font-size: 0.8em;
  font-weight: 500;
  color: grey;
}
.search-result > .user-info > .container > div > p {
  font-size: 0.7em;
  margin: 0.2em 0;
  text-transform: capitalize;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
}
.search-result > .user-options {
  padding: 1em 0;
  display: flex;
  align-items: center;
}
.search-result > .user-options > .container {
  text-align: center;
}
.search-result > .user-options > .container > a {
  font-size: 0.8em;
  border-radius: 3em;
  padding: 1em 2em;
  background: #1A0ADF;
  color: #F7F9FF;
  margin-left: -1em;
  font-weight: 600;
  cursor: pointer;
}
.search-result > .user-options > .container > i {
  cursor: pointer;
}

.ConnectionsList {
  z-index: 99;
}
.ConnectionsList > .head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}
.ConnectionsList > .head > .container > p {
  text-align: left;
  font-size: 0.8em;
  width: 85%;
}
.ConnectionsList > .body {
  padding: 1em;
  padding-bottom: 4em;
  overflow: scroll;
}

.Notifications {
  z-index: 99;
}
.Notifications > .head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  font-weight: 500;
}
.Notifications > .head > .container > p {
  text-align: left;
  font-size: 0.8em;
  width: 85%;
}
.Notifications > .body {
  padding: 1em;
  padding-bottom: 4em;
  overflow: scroll;
}

.signup-form {
  display: none;
}

html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #F7F9FF;
}

.container {
  width: 90%;
  max-width: 2000px;
  margin: 0 auto;
}

.App, #root {
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

#root {
  position: fixed;
  right: 100%;
  transition: all 0.25s linear;
}
#root.active {
  right: 175%;
  transition: all 0.3s linear;
}

/*# sourceMappingURL=App.css.map */
