
.SearchScreen {
    height: 100%;

    & > .container {
        height: 100%;

        & > .body {
            height: 100%;
            overflow-y: scroll;
        }
    }
}

.search-result{
    background: #fff;
    border-radius: 0.4em;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 8fr 2fr;
    height: 8em;
    margin: 1em 0;
    

    & > .user-info > .container {
        padding: 1em 0.75em 0.5em 1em;
        display: grid;
        grid-template-columns: 2fr 8fr;
        grid-column-gap: 1em;

        & .profileimg {
            border-radius: 100%;
            width: 100%;
        }
    
        & h1 {
            font-size: 0.8em;
            font-weight: 600;
            text-transform: capitalize;
            margin: 0;
            margin-top: 0.5em;
            display: flex;
            align-self: center;
            align-items: center;
    
            & > span {
                font-size: 0.8em;
                font-weight: 500;
                color: grey;
                margin-left: 1em;
            }
        }
    
        & > div > p {
            font-size: 0.7em;
            margin: 0.2em 0;
        }
    }

    & > .user-options {
        border-top: 1px solid #e8e8e8;
        padding: 1em;

        & > .container {
            text-align: center;

            & > i {
                cursor: pointer;
            }
        }
    }

    
}