.AccountSettings {
    z-index: 99;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;

    & > .head {
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        font-weight: 500;

        & > i {
            padding: 1em 1.5em;

            &.submit {
                color: rgb(10, 115, 253);
                transition: all 0.8s linear;
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 4em;

                &::after {
                    content: " Saved";
                    transition: all 0.8s linear;
                    font-family: $primary_font;
                    font-weight: 700;
                    font-size: 0.5em;
                    opacity: 0;
                    align-self: center;
                    padding-left: 1em;
                    overflow: hidden;
                }

                &.active {
                    max-width: 10em;

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }

        & > p {
            text-align: left;
            font-size: 0.8em;
            width: 85%;
        }
    }

    & > .body {
        padding: 1em;
        padding-bottom: 4em;
        overflow: scroll;
        
        & .settings-item {
            padding: 0.15em 1em 1.25em 1em;
            font-size: 0.8em;
            text-align: left;
            
            line-height: 1.6em;
            width: 100%;

            &:first-child{
                line-height: 3em;
                text-align: center;
            }
            
            & > label[for="profileimage"]{
                color: rgb(10, 115, 253);
                font-weight: 500;
                font-size: 0.9em;
            }

            & > input[type=file]{
                display: none;
            }

            & > input {
                width: 100%;
                background: none;
                border: none;
                border-bottom: 1px solid lightgrey;
                padding: 0.6em 0;
                outline: none;
                transition: border 0.5s linear;

                &:focus {
                    border-bottom: 1px solid rgb(10, 115, 253);
                }
            }

            & > label {
                font-size: 0.8em;
                color: grey;
                width: 100%;
                

                &::after {
                    content: "\A ";
                    white-space: pre;
                }
            }

            #new-uni-guess {
                background: #fff;
                cursor: pointer;
                font-size: 0.8em;
                font-weight: 500;
                padding: 0.8em 1.6em;
                margin: -1px 0 0 0;
                position: relative;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &.hidden {
                    font-size: 0;
                    padding: 0;
                    margin: 0;
                    height: 0;
                }
            }
        }

        & .profile-image {
            border-radius: 100%;
            height: 7.5em;
            width: auto;
        }
    }

    & > .footer {
        display: flex;
        align-items: flex-end;
        padding: 1em;

        & > button.save {
            width: 100%;
            padding: 1em;
            background: $brand_color;
            border-radius: 0.5em;
            color: $lightbg_color;
            border: none;
            font-size: 0.9em;
            font-weight: 500;
            font-family: $primary_font;
        }
    }
}